<!DOCTYPE html>
<html>
<head>
    <title>Neuro AI</title>
</head>
<body>

<h2>Upload MRI Scan</h2>

<form id="uploadForm">
    <input type="file" name="file" required />
    <button type="submit">Analyze</button>
</form>

<pre id="result"></pre>

<script>
document.getElementById("uploadForm").onsubmit = async (e) => {
    e.preventDefault();

    let formData = new FormData(e.target);

    let res = await fetch("http://127.0.0.1:5000/analyze", {
        method: "POST",
        body: formData
    });

    let data = await res.json();
    document.getElementById("result").innerText = JSON.stringify(data, null, 2);
};
</script>

</body>
</html>